---
interface Props {
    img: string;
    img_alt: string;
}

const { img, img_alt } = Astro.props;
---

<main class="m-auto w-full p-5">
    <div
        class="m-auto w-full gap-[2.5rem] rounded-lg border-2 border-[#e3e6ee] shadow-2xl dark:border-[#283044] dark:shadow-gray-600 lg:max-w-[100ch]"
    >
        {
            img && (
                <img src={img} alt={img_alt || ""} class="w-full rounded-lg " />
            )
        }
        <article
            class="prose prose-neutral w-full max-w-none p-[0.5rem] text-justify dark:prose-invert lg:prose-xl lg:p-[1.5rem]"
        >
            <slot />
        </article>
    </div>
</main>
