---
export interface Props {
    link?: string;
    text?: string;
}

const { link = "/", text = "More blogs" } = Astro.props;
---

<a
    href={link}
    class="flex cursor-pointer flex-col items-center rounded-xl border bg-[#F9F9FB] py-2 text-[#7611a6] dark:border-[#283043] dark:bg-[#0F1119]"
>
    <p>{text}</p>
</a>
