---
interface Props {
    title: string;
    tagline?: string;
    align?: "start" | "center" | "end";
    alignHero?: "start" | "center" | "end";
}

const {
    tagline,
    title,
    align = "center",
    alignHero = "start",
} = Astro.props as Props;
---

<header class:list={["hero flex flex-col gap-4", align]}>
    <div style={`text-align: ${alignHero};`} class="flex flex-col gap-2">
        <h1 class="title">{title}</h1>
        {
            tagline && (
                <p class="tagline" style={`text-align: ${alignHero}`}>
                    {tagline}
                </p>
            )
        }
    </div>
    <slot />
</header>

<style>
    .hero {
        font-size: var(--text-lg);
        text-align: center;
    }

    .title,
    .tagline {
        /* max-width: 37ch; */
        margin-inline: auto;
    }

    .title {
        font-size: var(--text-3xl);
        color: var(--gray-0);
    }

    @media (min-width: 50em) {
        .hero {
            font-size: var(--text-xl);
        }

        .start {
            text-align: start;
        }

        .end {
            text-align: end;
        }

        .start .title,
        .start .tagline {
            margin-inline: unset;
        }

        .title {
            font-size: var(--text-5xl);
        }
    }
</style>
