---
import Icon from "@components/Icon.astro";
---

<theme-toggle>
    <button class="flex cursor-pointer rounded-full border-0 p-0">
        <span class="sr-only">Dark theme</span>
        <span class="icon light relative z-[1] flex h-8 w-8 p-2 text-base"
            ><Icon icon="sun" /></span
        >
        <span class="icon dark relative z-[1] flex h-8 w-8 p-2 text-base"
            ><Icon icon="moon-stars" /></span
        >
    </button>
</theme-toggle>

<style>
    button {
        background-color: var(--gray-999);
        box-shadow: inset 0 0 0 1px var(--accent-overlay);
    }

    .icon {
        color: var(--accent-overlay);
    }

    .icon.light::before {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        background-color: var(--accent-regular);
        border-radius: 999rem;
    }

    :global(.dark) .icon.light::before {
        transform: translateX(100%);
    }

    :global(.dark) .icon.dark,
    :global(html:not(.dark)) .icon.light,
    button[aria-pressed="false"] .icon.light {
        color: var(--accent-text-over);
    }

    @media (prefers-reduced-motion: no-preference) {
        .icon,
        .icon.light::before {
            transition:
                transform var(--theme-transition),
                color var(--theme-transition);
        }
    }

    @media (forced-colors: active) {
        .icon.light::before {
            background-color: inherit;
        }
    }
</style>

<script is:inline>
    // This code is inlined in the head to make dark mode instant & blocking.

    const addLoadedClassInTheHTMLTagClass = () => {
        // Add “loaded” class once the document has completely loaded.
        addEventListener("load", () =>
            document.documentElement.classList.add("loaded"),
        );
    };

    const getThemePreference = () => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
    };

    const addThemeModeClassInTheHTMLTagClass = (isFistTime = false) => {
        let isDark = getThemePreference() === "dark";
        if (isFistTime) isDark = !isDark;
        if (isDark) {
            localStorage.setItem("theme", "light");
            document.documentElement.classList.remove("dark");
        } else {
            localStorage.setItem("theme", "dark");
            document.documentElement.classList.add("dark");
        }
    };

    class ThemeToggle extends HTMLElement {
        constructor() {
            super();
            const button = this.querySelector("button");
            button.addEventListener("click", () =>
                addThemeModeClassInTheHTMLTagClass(),
            );
        }
    }

    registerThemeToggleElement = () => {
        customElements.define("theme-toggle", ThemeToggle);
    };

    document.addEventListener("astro:after-swap", () =>
        addThemeModeClassInTheHTMLTagClass(true),
    );

    addThemeModeClassInTheHTMLTagClass(true);
    addLoadedClassInTheHTMLTagClass();
    registerThemeToggleElement();
</script>
