---
interface Props {
    img: string;
    imgAlt: string;
}

const { img, imgAlt } = Astro.props;
---

<main class="m-auto w-full p-5 lg:max-w-[83rem]">
    <div
        class="m-auto w-full gap-[2.5rem] border-2 border-[#e3e6ee] dark:border-[#283044] lg:max-w-[90ch]"
    >
        {img && <img src={img} alt={imgAlt || ""} class="w-full" />}
        <article
            class="prose prose-neutral w-full max-w-none p-[0.5rem] text-justify dark:prose-invert lg:prose-xl lg:p-[1.5rem]"
        >
            <slot />
        </article>
    </div>
</main>
