---
interface Props {
    img?: string;
    imgAlt?: string;
}

const { img, imgAlt } = Astro.props;
---

<main class="m-auto w-full p-5">
    <div class="m-auto flex w-full flex-col gap-10 lg:max-w-[90ch]">
        {
            img && (
                <div class="w-full rounded-lg border-2 border-[#e3e6ee] shadow-2xl dark:border-[#283044] dark:shadow-gray-600">
                    <img
                        src={img}
                        alt={imgAlt || ""}
                        class="w-full rounded-lg "
                    />
                </div>
            )
        }
        <div
            class="w-full rounded-lg border-2 border-[#e3e6ee] shadow-2xl dark:border-[#283044] dark:shadow-gray-600"
        >
            <article
                class="prose prose-neutral w-full max-w-none p-[0.5rem] text-justify dark:prose-invert lg:prose-xl lg:p-[1.5rem]"
            >
                <slot />
            </article>
        </div>
    </div>
</main>
