---
import { Image } from "astro:assets";
import { titles, descriptions, digresses } from "site.config.ts";

import Layout from "@/layouts/Layout.astro";

import Grid from "@/components/Grid.astro";
import Icon from "@/components/Icon.astro";
import Skills from "@/screens/home/Skills.astro";

import Hero from "@/components/Hero.tsx";
import Pill from "@/components/Pill.tsx";
import CallToAction from "@/components/CallToAction.tsx";
import ContactCTA from "../components/ContactCTA.tsx";

import { FeaturedProjects } from "@/screens/home/Home.tsx";
import { get_projects } from "@/helpers/logic";
import Testimonials, { TestimonialHead } from "@/screens/home/Testimonials.tsx";

const projects = (await get_projects()).slice(0, 4);
---

<Layout title={titles["/"]} description={descriptions["/"]}>
    <div class="flex flex-col gap-20 lg:gap-48">
        <div class="wrapper flex flex-col gap-8 lg:gap-20">
            <header class="hero flex flex-col items-center gap-8">
                <Hero
                    title="Hello, my name is Shihab Mahamud"
                    tagline="I am a Full-stack Developer who is currently based in Faridpur, Bangladesh."
                    class="text-start"
                >
                    <div class="hidden lg:mt-2 lg:flex lg:gap-2">
                        {
                            digresses.map(digress => (
                                <Pill>
                                    <Icon icon={digress.icon} size="1.33em" />
                                    {digress.text}
                                </Pill>
                            ))
                        }
                    </div>
                </Hero>
                <Image
                    alt="Shihab Mahamud smiling in a red plaid shirt and tortoise shell glasses"
                    width="1200"
                    height="1600"
                    src="/assets/portrait.jpg"
                    class="rounded-3xl object-cover object-top shadow-md lg:aspect-[3/4] lg:gap-[3.75rem] lg:rounded-[4.5rem]"
                />
            </header>
            <Skills />
        </div>

        <main class="wrapper flex flex-col gap-20 lg:gap-48">
            <section class="section with-background with-cta">
                <header
                    class="section-header flex max-w-[50ch] flex-col gap-2 justify-self-center text-center text-[1.125rem] text-xx-gray-300 lg:gap-4"
                >
                    <h3 class="text-[2.125rem] lg:text-[3.5rem]">
                        Selected Projects
                    </h3>
                    <p>
                        Take a look below at some of my featured projects for
                        clients from the past few years.
                    </p>
                </header>

                <div class="gallery">
                    <Grid variant="offset">
                        <FeaturedProjects projects={projects} />
                    </Grid>
                </div>
                <div class="cta">
                    <CallToAction href="/projects/">
                        View All
                        <Icon icon="arrow-right" size="1.2em" />
                    </CallToAction>
                </div>
            </section>

            <section class="flex flex-col items-center gap-8 lg:gap-16">
                <TestimonialHead />
                <Testimonials client:idle />
            </section>
        </main>
        <ContactCTA />
    </div>
</Layout>

<style>
    @media (min-width: 1024px) {
        .hero {
            display: grid;
            grid-template-columns: 6fr 4fr;
            padding-inline: 2.5rem;
        }
    }

    /* ====================================================== */

    .section {
        display: grid;
        gap: 2rem;
    }

    .with-background {
        position: relative;
    }

    .with-background::before {
        --hero-bg: var(--bg-image-subtle-2);

        content: "";
        position: absolute;
        pointer-events: none;
        left: 50%;
        width: 100vw;
        aspect-ratio: calc(2.25 / var(--bg-scale));
        top: 0;
        transform: translateY(-75%) translateX(-50%);
        background:
            url("/assets/backgrounds/noise.png") top center/220px repeat,
            var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
            var(--gray-999);
        background-blend-mode: overlay, normal, normal, normal;
        mix-blend-mode: var(--bg-blend-mode);
        z-index: -1;
    }

    .with-background.bg-variant::before {
        --hero-bg: var(--bg-image-subtle-1);
    }

    @media (min-width: 1024px) {
        .section {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "header header header header" "gallery gallery gallery gallery";
            gap: 5rem;
        }

        .section.with-cta {
            grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
        }

        .section-header {
            grid-area: header;
            font-size: 1.25rem;
        }

        .with-cta .section-header {
            justify-self: flex-start;
            text-align: left;
        }

        .gallery {
            grid-area: gallery;
        }

        .cta {
            grid-area: cta;
        }
    }
</style>
