---
import { getCollection } from "astro:content";
import { titles, descriptions } from "site.config";

import Layout from "@layouts/Layout.astro";
import ContactCTA from "@components/pure/ContactCTA.astro";
import Hero from "@components/pure/Hero.tsx";
import Grid from "@components/projects/ProjectGrid.astro";
import ProjectPreview from "@components/projects/ProjectPreview.tsx";

const projects = (await getCollection("projects")).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout title={titles["/projects"]} description={descriptions["/projects"]}>
    <div class="flex flex-col gap-20">
        <main class="wrapper flex flex-col gap-20">
            <Hero
                title="My Projects"
                tagline="See my most recent projects below to get an idea of my past experience."
                align="start"
                alignHero="end"
            >
                <></>
            </Hero>
            <Grid>
                {projects.map(project => <ProjectPreview project={project} />)}
            </Grid>
        </main>
        <ContactCTA />
    </div>
</Layout>
 @components/projects/ProjectPreview
