---
interface Props {
    variant?: "offset" | "small";
}

const { variant } = Astro.props;
---

<div id="blog-grid">
    <ul
        class:list={[
            "grid",
            { offset: variant === "offset", small: variant === "small" },
        ]}
    >
        <slot />
    </ul>
</div>

<style>
    #blog-grid .grid {
        display: grid;
        grid-auto-rows: auto;
        gap: 1rem;
        list-style: none;
        padding: 0;
        /*direction: rtl;*/
    }

    #blog-grid .grid.small {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    /* If last row contains only one item, make it span both columns. */
    #blog-grid .grid.small > :global(:last-child:nth-child(even)) {
        grid-column: 1 / 3;
    }

    @media (min-width: 50em) {
        #blog-grid .grid {
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
        }

        #blog-grid .grid.offset {
            --row-offset: 7.5rem;
            padding-bottom: var(--row-offset);
        }

        /* Shift first item in each row vertically to create staggered effect. */
        #blog-grid .grid.offset > :global(:nth-child(even)) {
            transform: translateY(var(--row-offset));
        }

        /* If last row contains only one item, display it in the second column. */
        #blog-grid .grid.offset > :global(:last-child:nth-child(odd)) {
            grid-column: 2 / 3;
            transform: none;
        }

        #blog-grid .grid.small {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
        }

        #blog-grid .grid.small > :global(*) {
            flex-basis: 20rem;
        }
    }
</style>
