---
import type { Page, PaginateFunction } from "astro";

import * as site_config from "site.config.ts";

import { getCollection, type CollectionEntry } from "astro:content";
import { generateTags } from "@/helpers/blogs.ts";

import ContactCTA from "@/components/ContactCTA";
import Hero from "@/components/Hero.tsx";
import Layout from "@/layouts/Layout.astro";

import BlogTags from "@/screens/blogs/Tags.astro";
import BlogList from "@/screens/blogs/List.astro";
import BlogPaginationLink from "@/screens/blogs/PaginationLink.astro";

export async function getStaticPaths({
    paginate,
}: {
    paginate: PaginateFunction;
}) {
    const blogs = (await getCollection("blogs")).sort(
        (a, b) => b.data.publish_date.valueOf() - a.data.publish_date.valueOf(),
    );

    return paginate(blogs, {
        pageSize: site_config.total_number_blogs_on_blogs_page,
    });
}

export interface Props {
    page: Page<CollectionEntry<"blogs">>;
}

const { page } = Astro.props;

const blogs = page.data;

const tags = generateTags(await getCollection("blogs"));
---

<Layout
    title={site_config.titles["/blogs"]}
    description={site_config.descriptions["/blogs"]}
>
    <div class="flex flex-col gap-20">
        <main class="wrapper flex flex-col gap-20">
            <Hero
                title="My Blogs"
                tagline="Explore my Latest Insights and Perspectives"
                align="end"
                alignHero="end"
            >
                <></>
            </Hero>
            <BlogTags tags={tags} />
            <BlogList blogs={blogs} />
            {
                blogs.length > site_config.total_number_blogs_on_blogs_page && (
                    <>
                        {page.url.next ? (
                            <BlogPaginationLink link={page.url.next} />
                        ) : (
                            <BlogPaginationLink
                                link={page.url.prev}
                                text="Previous Blogs"
                            />
                        )}
                    </>
                )
            }
        </main>
        <ContactCTA />
    </div>
</Layout>
