---
import type { Page, PaginateFunction } from "astro";
import { titles, descriptions } from "site.config.ts";
import { getCollection, type CollectionEntry } from "astro:content";
import { generateTags } from "@helpers/blogs.ts";

import ContactCTA from "@components/pure/ContactCTA.tsx";
import Hero from "@components/pure/Hero.tsx";
import Layout from "@layouts/Layout.astro";
import BlogTags from "@components/blogs/BlogTags.astro";
import BlogList from "@components/blogs/BlogList.astro";
import BlogPaginationLink from "@components/blogs/BlogPaginationLink.astro";

export async function getStaticPaths({
    paginate,
}: {
    paginate: PaginateFunction;
}) {
    const blogs = (await getCollection("blogs")).sort(
        (a, b) => b.data.publish_date.valueOf() - a.data.publish_date.valueOf(),
    );

    return paginate(blogs, { pageSize: 4 });
}

export interface Props {
    page: Page<CollectionEntry<"blogs">>;
}

const { page } = Astro.props;

const blogs = page.data;

const tags = generateTags(await getCollection("blogs"));
---

<Layout title={titles["/blogs"]} description={descriptions["/blogs"]}>
    <div class="flex flex-col gap-20">
        <main class="wrapper flex flex-col gap-20">
            <Hero
                title="My Blogs"
                tagline="Explore my Latest Insights and Perspectives"
                align="end"
                alignHero="end"
            >
                <></>
            </Hero>
            <BlogTags tags={tags} />
            <BlogList blogs={blogs} />
            {
                page.url.next ? (
                    <BlogPaginationLink link={page.url.next} />
                ) : (
                    <BlogPaginationLink
                        link={page.url.prev}
                        text="Previous Blogs"
                    />
                )
            }
        </main>

        <ContactCTA />
    </div>
</Layout>
